using QuickFix.Fields;
namespace QuickFix
{
    namespace <#version#>
    {
        public class <#msgName#> : Message
        {
            public const string MsgType = "<#msgType#>";

            public <#msgName#>() : base()
            {
                this.Header.SetField(new QuickFix.Fields.MsgType(MsgType));
            }

            public <#msgName#>(<#msgConstructorArguments#>) : this()
            {
<#msgConstructorAssignments#>
            }

<#msgFields#>

<#msgGroups#>
        }
    }
}
